:root{
  background-color: #F7F8FA;
}

*{
  margin: 0;
  padding: 0;
}

#app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.workspace{
  display: flex;
  flex: 1;
}

.file_area{
  width: 260px;
  background-color: #FFFFFF;
  border-right: 1px solid #E5E7EB;
  padding: 20px;
}

.edit_area{
  flex: 1;
  background-color: #FFFFFF;
  padding:32px;
  font-size: 16px;
}

.extend_area{
  width: 400px;
  background-color: #FCFCFC;
  border-left: 1px solid #E5E7EB;
  padding: 32px;
}