:root{
  background-color: white;
}

*{
  margin: 0;
  padding: 0;
}

nav{
  text-align: center;
  background-color: darkgrey;
  color: black;
  height: min-content;
}

nav div{
  float: left;
}

nav h1{
  font-size: medium
}

div.file_area{
  width: 500px;
  background-color: darkgrey;
}